pillar_roots:
  base:
    - /srv/pillar

log_level_logfile: debug

external_auth:
  pam:
    mytestuser:
      - .*
      - '@runner'
      - '@wheel'

max_open_files: 16384

redis.db: '0'
redis.host: '127.0.0.1'
redis.port: 6379

halite:
  level: 'debug'
  server: 'cherrypy'
{%- if 'cherrypy_host' in pillar %}
  host: '{{ pillar['cherrypy_host'] }}'
{%- endif %}
{%- if 'cherrypy_port' in pillar %}
  port: '{{ pillar['cherrypy_port'] }}'
{%- endif %}
  cors: False
  tls: True
  certpath: '/etc/pki/tls/certs/localhost.crt'
  keypath: '/etc/pki/tls/certs/localhost.key'
  pempath: '/etc/pki/tls/certs/localhost.pem'
