[user]
	name = {{ salt['pillar.get']('git:name') }}
	email = {{ salt['pillar.get']('git:email') }}
[core]
	editor = /usr/bin/vim
{%- if grains['os'] == 'Windows' %}
	autocrlf = true
{%- else %}
	autocrlf = input
{%- endif %}
[push]
	default = matching
{%- if salt['cmd.run']("git --version | awk '{ print $3 }'") < '1.8.4' %}
[color]
	ui = true
{%- endif %}
[alias]
	ci = commit
	co = checkout
	st = status
	br = branch
	di = diff
	pu = push
	last = log -1 HEAD
        sh = show
