{%- set user = salt['cmd.run']('stat -f "%Su" /dev/console') %}
{%- set home = salt['user.info'](user)['home'] %}
{%- set downloads = home + '/Downloads' %}

{%- macro dmg_install(name, version, source, source_hash, filename=None, volume=None, app_name=None, pkg=False) %}
  {%- if not filename -%}
    {%- set filename = name + '-' + version -%}
  {%- endif -%}
  {%- if not volume -%}
    {%- set volume = name|capitalize -%}
  {%- endif -%}
  {%- if not app_name -%}
    {%- set app_name = volume + '.app' -%}
  {%- endif %}

{{ name }}:
  file:
    - managed
    - name: {{ downloads }}/{{ filename }}.dmg
    - source: {{ source }}
    - source_hash: {{ source_hash }}
    - user: {{ user }}
  hdiutil:
    - mounted
    - name: {{ downloads }}/{{ filename }}.dmg
    - user: {{ user }}
  {%- if pkg %}
    - unless: pkgutil --pkgs | grep {{ name }}
  {%- else %}
    - unless: grep {{ version }} /Applications/{{ app_name }}/Contents/Info.plist
  {%- endif %}
    - require:
      - file: {{ name }}
  cmd:
    - wait
    - cwd: /Volumes/{{ volume }}
  {%- if pkg %}
    - name: sudo installer -verbose -pkg /Volumes/{{ volume }}/*.pkg -target /
  {%- else %}
    - name: rsync -a --delete {{ app_name }}/ /Applications/{{ app_name }}/
  {%- endif %}
    - user: {{ user }}
    - watch:
      - hdiutil: {{ name }}
  module:
    - wait
    - name: hdiutil.unmount
    - m_name: /Volumes/{{ volume }}/
    - user: {{ user }}
    - watch:
      - cmd: {{ name }}
{%- endmacro %}
