{%- set owner = salt['cmd.run']('stat -f "%Su" /dev/console') %}
{%- set home = salt['user.info'](owner)['home'] %}
{%- set downloads = home + '/Downloads' %}

{%- set user = {
    'owner': owner,
    'home': home,
    'downloads': downloads,
} %}

{%- macro dmg_install(name, version, source, source_hash, filename=None, volume=None, app_name=None, pkg=False) %}
  {%- if not filename -%}
    {%- set filename = name -%}
  {%- endif -%}
  {%- if not volume -%}
    {%- set volume = filename -%}
  {%- endif -%}
  {%- if not app_name -%}
    {%- set app_name = filename + '.app' -%}
  {%- endif %}

{{ name }}:
  file:
    - managed
    - name: {{ user.downloads }}/{{ filename }}-{{ version }}.dmg
    - source: {{ source }}
    - source_hash: {{ source_hash }}
    - user: {{ user.owner }}
  hdiutil:
    - mounted
    - name: {{ user.downloads }}/{{ filename }}-{{ version }}.dmg
    - user: {{ user.owner }}
    - unless: grep {{ version }} /Applications/{{ app_name }}/Contents/Info.plist
    - require:
      - file: {{ name }}
  cmd:
    - wait
    - cwd: /Volumes/{{ volume }}
  {%- if pkg %}
    - name: sudo installer -verbose -pkg /Volumes/{{ volume }}/*.pkg -target /
  {%- else %}
    - name: rsync -a --delete {{ app_name }}/ /Applications/{{ app_name }}/
  {%- endif %}
    - user: {{ user.owner }}
    - watch:
      - hdiutil: {{ name }}
  module:
    - wait
    - name: hdiutil.unmount
    - m_name: /Volumes/{{ volume }}/
    - user: {{ user.owner }}
    - watch:
      - cmd: {{ name }}
{%- endmacro %}
