production:
  adapter: postgresql
  database: {{ salt['pillar.get']('redmine:postgres:name', 'redmine') }}
  host: localhost
  username: {{ salt['pillar.get']('redmine:postgres:username', 'redmine') }}
  password: {{ salt['pillar.get']('redmine:postgres:password') }}
  encoding: utf8
