{%- set ubuntu = {
  "precise": {
    "initrd.gz": {
      "source": "http://archive.ubuntu.com/ubuntu/dists/precise/main/installer-amd64/current/images/netboot/ubuntu-installer/amd64/initrd.gz",
      "md5": "73566c73568eacfaf07ef3568ebe3e64",
    },
    "linux": {
      "source": "http://archive.ubuntu.com/ubuntu/dists/precise/main/installer-amd64/current/images/netboot/ubuntu-installer/amd64/linux",
      "md5": "ec12ab2c89c1420f3362ebba47ddd23b",
    },
    "mini.iso": {
      "source": "http://archive.ubuntu.com/ubuntu/dists/precise/main/installer-amd64/current/images/netboot/mini.iso",
      "md5": "1278936cb0ee9d9a32961dd7743fa75c",
    },
  },
  "trusty": {
    "initrd.gz": {
      "source": "http://archive.ubuntu.com/ubuntu/dists/trusty/main/installer-amd64/current/images/netboot/ubuntu-installer/amd64/initrd.gz",
      "md5": "5d0877c6e32b404608b9b7970fd204c4",
    },
    "linux": {
      "source": "http://archive.ubuntu.com/ubuntu/dists/trusty/main/installer-amd64/current/images/netboot/ubuntu-installer/amd64/linux",
      "md5": "3830553e4d2e1e040238a4317911d8ed",
    },
    "mini.iso": {
      "source": "http://archive.ubuntu.com/ubuntu/dists/trusty/main/installer-amd64/current/images/netboot/mini.iso",
      "md5": "7297321c2fa6424417a548c85edd6e98",
    },
  },
  "xenial": {
    "initrd.gz": {
      "source": "http://archive.ubuntu.com/ubuntu/dists/xenial/main/installer-amd64/current/images/netboot/ubuntu-installer/amd64/initrd.gz",
      "md5": "52b8d5e44438623e11b644f44b90afab",
    },
    "linux": {
      "source": "http://archive.ubuntu.com/ubuntu/dists/xenial/main/installer-amd64/current/images/netboot/ubuntu-installer/amd64/linux",
      "md5": "1b31def73c61d37feb26626827ac0bb7",
    },
    "mini.iso": {
      "source": "http://archive.ubuntu.com/ubuntu/dists/xenial/main/installer-amd64/current/images/netboot/mini.iso",
      "md5": "fe495d34188a9568c8d166efc5898d22",
    },
  },
} %}
