{%- from "macros.jinja2" import home with context %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>xhyve.{{ oscodename }}</string>
    <key>WorkingDirectory</key>
    <string>{{ home }}/xhyve/{{ oscodename }}/</string>
    <key>ProgramArguments</key>
    <array>
      <string>./run.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/var/log/xhyve/{{ oscodename }}.log</string>
    <key>StandardOutPath</key>
    <string>/var/log/xhyve/{{ oscodename }}.log</string>
  </dict>
</plist>
