{# GitLab user. git by default #}
user: git

{# Url to gitlab instance. Used for api calls. Should end with a slash. #}
gitlab_url: "http://{{ pillar['gitlab']['url'] }}/"

http_settings:
  self_signed_cert: false

repos_path: "{{ pillar['home'] }}/git/repositories"

auth_file: "{{ pillar['home'] }}/git/.ssh/authorized_keys"

{# Redis settings used for pushing commit notices to gitlab #}
redis:
  bin: /usr/local/bin/redis-cli
  host: 127.0.0.1
  port: 6379
  namespace: resque:gitlab

{# Log level. INFO by default #}
log_level: INFO

audit_usernames: false
